/* DROPDOWN */
.dropdown{
  position:relative;
  display:flex;
  align-items:center;
}

.dropdown > a{
  padding:10px 0;
}

/* MENU */
.dropdown-content{
  position:absolute;
  top:100%; /* colle exactement sous le bouton */
  left:50%;
  transform:translateX(-50%) translateY(10px);

  background:#141821;
  min-width:220px;
  border-radius:14px;
  overflow:hidden;
  box-shadow:0 10px 30px rgba(0,0,0,.6);

  opacity:0;
  visibility:hidden;
  transition:all .25s ease;
}

/* Affichage smooth */
.dropdown:hover .dropdown-content{
  opacity:1;
  visibility:visible;
  transform:translateX(-50%) translateY(0);
}

/* Liens */
.dropdown-content a{
  display:block;
  padding:12px 18px;
  color:#ccc;
  text-decoration:none;
  transition:.2s;
}

.dropdown-content a:hover{
  background:#ff6b6b;
  color:white;
}
